{% extends 'master.html' %}

{% block content %}
<h1>Help</h1>

<h2>Questions</h2>

<ul>
  <li>I found a bug!</li>
  <li>I would like to help at development/ design (...)!</li>
  <li>I have an idea on how to improve the site!</li>
  <li>What is this site for?</li>
  <li>What is this site NOT for?</li>
</ul>

<h2>Answers</h2>

<ul>
  <li>Great! Will you tell us about it <a href="https://github.com/creyD/asiimov/issues/new" target="_blanc">here</a>? We will try to fix it as soon as possible. Thank you for your help!</li>
  <li>That's very kind of you! Head over to <a href="https://github.com/creyD/asiimov" target="_blanc">our GitHub</a> and consult the <a href="https://github.com/creyD/asiimov/blob/master/CONTRIBUTING.md">Contribution Guidelines</a> and our excellent <a href="https://github.com/creyD/asiimov/blob/master/CODE_OF_CONDUCT.md">Code of Conduct.</a> Thank you for your participation!</li>
  <li>Please create a feature request <a href="https://github.com/creyD/asiimov/issues/new" target="_blanc">here</a> and wait for a response. We will try to implement the feature as soon as possible - if it is in line with our idea of the project.</li>
  <li>That's pretty simple to determine: we want to "relive" the trade with CS:GO items and give it a platform. If you have items, consider creating an offer for them! We want our platform to be a safe and free place for the community. Have fun!</li>
  <li>This site isn't for spammers, scammers, griefers (...) and we will try to develop the site to their disadventage. This site is not for communication or actually making trades, as this can only be done by Valve. As we don't want to anger Valve, we explicitly don't want a direct connection to pricing sites for items. Please have fun on the site!</li>
</ul>

For more help please consult the <a href="https://github.com/creyD/asiimov/tree/master/docs" target="_blanc">documentation</a>, <a href="https://github.com/creyD/asiimov/issues" target="_blanc">GitHub issues</a>, the <a href="https://github.com/creyD/asiimov/wiki" target="_blank">community wiki</a> or a <a href="https://duckduckgo.com" target="_blank">search engine</a> of your choice.
{% endblock %}
